#  Токен телеграмм бота
TOKEN = тут_токен_полученный_от_Bot_Father

#  Номер чата куда отправлять фото, групповой чат начинается со знака минус '-6540966'.
CHAT_ID = 123123

#  Id аккаунта, которому можно управлять ботом и получать личные сообщения от бота в виде фото по запросу
#  Формат записи ADMIN_ID_number = Никнейм : telegram_id
ADMIN_ID_1 = admin : 123123


#  Список камер 
#  Формат записи '0: номер камеры в системе'. Если это linux то /dev/video0. В Windows можно ставить '0: 0' и далее на увеличение, если камер больше одной.
#  Если это айпи камера, то указыается адрес потока, к примеру '0: "rtsp://admin:admin@192.168.0.65:554/1"', найти поток по документации и проверить в VLC
#0 = /dev/video0
0 =  rtsp://admin:admin@192.168.0.254:554/1
#99 = /dev/video0


#  Временные границы отправки фото в групповой чат.
#  Формат записи - "06:00 - 12:00"
TIME_SEND = 00:00 - 23:30

#  Интервал отправки фото в минутах, лучше ставить время кратное 60 минутам т.е. 2, 4, 5, 10, 25, 60, 75.
#  Значение по умолчанию 10 минут
TIME_SEND_INTERVAL = 30m


#  Ротирование лог файла. Минимальный интервал ротирования 1 день.
#  Значение по умолчанию 1 день 
LOG_FILE_ROTATE = 1d

#  Расположение лог файла
#  Указывается абсолютный путь.
LOG_FILE_DIR = 'D:\camera'

#  Уровень логирования
#  Debug = 5, Informational = 4, Notice = 3, Warning = 2, Error = 1  
LOG_LEVEL = 5

#  Период архивации фото в zip архив. Минимальный интервал 1 день.  
#  Значение по умолчанию 1 день
IMAGE_ARCHIVE_PERIOD = 1d

#  Директория для фотографий.
#  Указывается абсолютный путь. Для Windows слеш '\' для Linux слеш '/'
#  Как пример пути в Linux /home/admin/camera/foto
IMAGE_USER_DIR = 'D:\camera\user'

#  Директория для архива фото
IMAGE_USER_ARCH_DIR = 'D:\camera\user_arch'

#  Директория для фото по расписанию
IMAGE_SCHEDULE_DIR = 'D:\camera\schedule'

#  Директория для архива фотографий по расписанию
IMAGE_SCHEDULE_ARCH_DIR = 'D:\camera\schedule_arch'



